asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
cloudinary==1.43.0
cryptography==44.0.2
Django==5.1.7
djangorestframework==3.16.0
dotenv==0.9.9
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.0.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
